<!doctype html>
<html>
<head>
    <title>Gardner Gram</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">
    <div class="page-header text-center">
        <h1>CURRENT POST</h1>
        <a href="/profile">Profile</a>
        <a href="/feed">Feed</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h3>Post</h3>
        <ul class="messages">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="message">
            <h4><%= posts[i].caption %></h4>
            <img src="../<%= posts[i].img %>" alt="">
            <!-- Comment Form -->
            <form action="/comment/<%= posts[i]._id %>" method="POST">
                <input type="text" placeholder="Comment" name="comment">
                <button type="submit">Submit</button>
            </form>
          </li>
        <% } %>
        </ul>
        <h3>comments</h3>
          <%comments.forEach(comment => {%>
            <p><%=comment.comment%></p>
          <%})%>
      </div>
    </div>
</div>
<script src="main.js"></script>
</body>
</html>
